@font-face {
    font-family: 'valorantfont';
    src: url(CaviarDreams_Bold.ttf);
    font-weight: normal;
    font-style: normal;
}
/*Pagina Valorant
codigo :   https://www.youtube.com/embed/cQx2xgri3AI
*/
.BotoPaginaPrincipal{
    background-color: purple ;
    text-align: right ;
    margin-top: -1.2%;
    height: 120px;
    margin-left: -11%;
    margin-right: -15%;
    margin-block-end: -1%;
    filter:alpha(opacity=100);-moz-opacity:1;opacity:1;
    position: absolute;
    width: 1600px;
}
p {
    font-family: 'valorantfont';
    color: black;
    font-size: large;
}
ul {
    font-family: 'valorantfont';
    color: darkgoldenrod;
    font-size: large;
}
.TituloValorant{
    
    color: black;
    text-align: center;
    margin-right: -40%;
    font-family: 'CaviarDreams_Bold.ttf';
    position: absolute;
    margin-top: -8%;
}
.Taula{
    margin-left: 30%;
    border-collapse: collapse;
    background-color: black;
    text-align: center;
    font-family: 'CaviarDreams_Bold.ttf';
    color: white;
}
.flex-container {
        display: flex;
        flex-direction: column ;
        margin: 1%;
        padding: 5%;
        font-size: 2%;
        margin-right: 1%;
}
.Requadre1 {
            padding: 1%;
            margin-right: -30%;
            margin-left: 1%;
            width: 800px;
            height: 450px;
            margin-top: 80px;
            text-align: left;
            background-color: purple;
            
        }
.Requadre2 {
            padding: 1%;
            margin-right: -2%;
            margin-top : -50%;
            margin-left: 80%;
            width: 100%;
            height: 600px;
            text-align: center;
            position: relative;
}
.FichaTecnica{
    background-color: purple;
    width: 99%;
    height: 30px;
    
}
html {
    touch-action: manipulation;
}

footer{
        
        background-color: purple;
        text-align: center;
        margin-left: -81%;
        margin-right: -2;
        height: 100px;
        margin-top: 30%;
        line-height: 30%;
        margin-block-end: -30%;
        position: absolute;
        width: 1523px;



}
.CinematicaValorant{
            align-items: center;
            padding: 1%;
            text-align: center;
            margin-left: -75%;
            margin-right: -900px;
            margin-top: 10%;
            width: 99%;
}

@media (max-width: 500px) {

    p {
        font-family: 'valorantfont';
        color: white;
        font-size: small;
    }
    
    ul {
        font-family: 'valorantfont';
        color: white;
        font-size: small;
    }

    .BotoPaginaPrincipal{
        background-color: purple ;
        text-align: right ;
        margin-top: -1.2%;
        height: 120px;
        margin-left: -11%;
        margin-right: -15%;
        margin-block-end: -1%;
        filter:alpha(opacity=100);-moz-opacity:1;opacity:1;
        position: absolute;
        width: 1600px;
    }
    .TituloValorant{
    
        color: black;
        text-align: center;
        margin-right: -40%;
        font-family: 'CaviarDreams_Bold.ttf';
        position: absolute;
        margin-top: -8%;
    }
    .Taula{
        margin-left: 30%;
        border-collapse: collapse;
        background-color: black;
        text-align: center;
        font-family: 'CaviarDreams_Bold.ttf';
        color: white;
    }
    .flex-container {
            display: flex;
            flex-direction: column ;
            margin: 1%;
            padding: 5%;
            font-size: 2%;
            margin-right: 1%;
    }
    .Requadre1 {
                padding: 1%;
                margin-right: -30%;
                margin-left: 1%;
                width: 800px;
                height: 450px;
                margin-top: 80px;
                text-align: left;
                background-color: purple;
                
            }
    .Requadre2 {
                padding: 1%;
                margin-right: -2%;
                margin-top : -50%;
                margin-left: 80%;
                width: 100%;
                height: 600px;
                text-align: center;
                position: relative;
    }
    .FichaTecnica{
        background-color: purple;
        width: 99%;
        height: 30px;
        
    }
    html {
        touch-action: manipulation;
    }
    
    footer{
            
            background-color: purple;
            text-align: center;
            margin-left: -81%;
            margin-right: -2;
            height: 100px;
            margin-top: 30%;
            line-height: 30%;
            margin-block-end: -30%;
            position: absolute;
            width: 1523px;
    
    
    
    }
    .CinematicaValorant{
                align-items: center;
                padding: 1%;
                text-align: center;
                margin-left: -75%;
                margin-right: -900px;
                margin-top: 10%;
                width: 99%;
    }

}