p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color:darkgoldenrod;
    color: black;
}

img {
    backgroun
    padding: 0%;
    opacity: 0.5;


}

.contenidor {
    position: relative;
    display: inline-block;
}

.text {
    position: absolute;
    top: 10px;
    left: 10px;
