@font-face {
    font-family: 'Font-Bendy';
    src: url(CaviarDreams_Bold.ttf);
    font-weight: normal;
    font-style: normal;
}
/*Pagina Bendy and the Dark Revival*/
p {
    font-family: 'Font-Bendy';
    color: darkgoldenrod;
    font-size: large;
}

ul {
    font-family: 'Font-Bendy';
    color: darkgoldenrod;
    font-size: large;
}

.BotoPaginaPrincipal{
    background-color: darkgoldenrod;
    text-align: center;
    margin-top: -1.5%;
    margin-left: -2%;
    margin-right: -1%;
    height: 70px;
    filter:alpha(opacity=100);
    -moz-opacity:1;opacity:1;
}

.flex-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    
}

.Requadre1 {
    padding: 20px;
    margin-right: 50px;
    margin-left: 50px;
    width: 600px;
    height: 600px;
    text-align: left;
}

.Requadre2 {
    padding: 20px;
    margin-right: 20%;
    margin-top : -47%;
    margin-left: 50%;
    width: 600px;
    height: 600px;
    text-align: center;
}

.RequadreImatge {
    align: center;
}

.TitolBATDR{
    text-align: center;
}
.Taula{
    margin: auto;
    border-collapse: collapse;
    background-color: black;
    text-align: center;
    font-family: 'Font-Bendy';
    color: darkgoldenrod;
    padding: 20%;
    
}
.FichaTecnica{
    background-color: darkgoldenrod;
    color: black;
    
}

footer {
    background-color: darkgoldenrod;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    height: 40px;
    margin-top: 1%;
    line-height: 30px;

}

.TrailerBATDR {
    align-items: center;
    padding: 1%;
    margin-left: 0%;
    margin-bottom: 3%;

}

.ScreenshotsBATDR {
    align: center;
    padding: 1%;
}

@media (max-width: 500px) {

    p {
        font-family: 'Font-Bendy';
        color: darkgoldenrod;
        font-size: small;
    }
    
    ul {
        font-family: 'Font-Bendy';
        color: darkgoldenrod;
        font-size: small;
    }

    .BotoPaginaPrincipal{
        background-color: darkgoldenrod;
        text-align: center;
        margin-top: -1.5%;
        margin-left: -2%;
        margin-right: -1%;
        height: 70px;
        filter:alpha(opacity=100);
        -moz-opacity:1;opacity:1;
    }

    .flex-container {
        display: flex;
        flex-direction: row;
        margin: 10px;
        padding: 20px;
        font-size: 30px;
        
    }

    .Requadre1 {
        width: 600px;
        height: 600px;
        text-align: left;
        align: left;
        margin-left: -10%;
    }

    .FichaTecnica{
        background-color: darkgoldenrod;
        color: black;
        margin: -100%;
        
    }
    
    .Requadre2 {
        padding: 20px;
        width: 600px;
        height: 600px;
        text-align: center;
    }

    footer {
        background-color: darkgoldenrod;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        height: 40px;
        margin-top: 1%;
        line-height: 30px;
        font-size: small;
    
    }






}