@font-face {
    font-family: 'SAO';
    src: url(SAOWelcomeTT-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
header{
    text-align: center;
    background-color: yellow;
    font-size: large;
    font-family: 'SAO';
    font-weight: normal;
}
h1{
    text-align: center;
   
}

.jocs{
    background: rgba(255, 255, 255, 0.75);
    background-size: 5%;
    font-family: 'SAO';
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    font-size: x-large;
    text-align: center;
    padding: 2%;

}
nav a{
    text-decoration:none;
    color:inherit;
    font-size: x-large;
    font-family: 'SAO';
    font-weight: normal;
    
    } 
    nav li{
    display:inline-block;
    color:black;
    text-align: center;
    }
footer{
    height:50px;
    line-height:50px;
    background: yellow;
    text-align:center;
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
}