@font-face {
    font-family: 'SAO';
    src: url(SAOWelcomeTT-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
header{
    text-align: center;
    background-color: yellow;
    font-size: large;
    font-family: 'SAO';
    font-weight: normal;
}
h1{
    text-align: center;
   
}
.HollowKnight{
    background: rgba(255, 255, 255, 0.75);
    background-size: 1%;
    font-family: 'SAO';
    border-collapse: collapse;
    padding: 2%;
}
.Valorant{
    background: rgba(255, 255, 255, 0.75);
    background-size: 1%;
    border-collapse: collapse;
    padding: 2%;
    
    
}
footer{
    height:50px;
    line-height:50px;
    background: yellow;
    text-align:center;
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
}