@font-face {
    font-family: 'HollowKnight';
    src: url(Supernatural_Knight.ttf);
    font-weight: normal;
    font-style: normal;
}
/*Pagina Hollow Kngith*/
.BotoPaginaPrincipal{
    background-color: cadetblue;
    text-align: center;
}
.TitulHollowKnight{
    
    color: black;
    text-align: center;
    font-family: 'HollowKnight';

}
.Taula{
    margin: auto;
    border-collapse: collapse;
    background-color: white;
    text-align: center;

}
.FichaTecnica{
    background-color: grey;
}