@font-face {
    font-family: 'SAO';
    src: url(SAOWelcomeTT-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
/*Pagina Hollow Kngith*/
.BotoPaginaPrincipal{
    background-color: cadetblue;
    text-align: center; 
    margin: 0;
    
}
.TitulHollowKnight{
    text-align: center;
}

.Taula1{
    margin: auto;
    border-collapse: collapse;
    background-color: darkcyan;
    text-align: center;
    font-family: 'SAO';
    color: white;
    padding: 20%;
    font-size: x-large;
}
.FichaTecnica{
    background-color: grey;
    border: 2px ;
    color: white
}
.Taula2{
    margin: auto;
    border-collapse: collapse;
    background-color: blue;
    text-align: center;
    font-family: 'SAO';
    color: white;
    padding: 20%;
    font-size: x-large;
}
.FichaRequisits{
    background-color: grey;
    border: 2px ;
    color: white;
    
}
footer{
    /*height:50px;
    line-height:50px;
    background: cadetblue;
    text-align:center;
    position:fixed;
    bottom:0;
    left:0;
    width:100%;*/
    text-align: center;
    background-color: cadetblue;
    position: absolute;
    margin-block-end: -15%;
    bottom: 0;
    width: 100%;
    height: 50px;
}
@media (max-width: 768px){
.logoxbox{
    align-items: left;
}
.logoplay{
    align-items: left;
}
.logonintendo{
    align-items: left;
}
.logosteam{
    align-items: left;
}
}