/*Pagina Hollow Kngith*/
.TitulHollowKnight{
    background-color: black;
    color: white;
}
.Taula{
    text-align: center;
    
}
.FichaTecnica{
    width: auto;
    background-color: aliceblue;
    filter:alpha(opacity=70);
    -moz-opacity:.70;opacity:.70;
    
  }
