.TitulPaginaPrincipal{
    text-align: center;
    background-color: rgb(150, 10, 10);
}
.BotoPaginaPrincipal{
    background-color:rgb(150, 10, 10);
    text-align: center;
}
body{
    background-color: white, 0.1;
}
footer{
    height:50px;
    line-height:50px;
    background: rgb(150, 10, 10);
    text-align:center;
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
}