@font-face {
    font-family: 'SAO';
    src: url(/Fonts/SAOWelcomeTT-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
header{
    background-color: rgb(70, 201, 127);
    text-align: center;

}
/*NAV*/
p  {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
    font-size: large;
}

.flex-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 20px;
    font-size: 18px;
    
}

.flex-container2 {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    
}

.Requadre1 {
    background-color: rgb(70, 201, 127);
    padding: 10px;
    margin-right: 20px;
    margin-left: 10px;
    margin-bottom: -30px;
    width: 720px;
    height: 600px;
    text-align: left;
}

.Requadre2 {
    padding: 20px;
    margin-right: 20%;
    margin-top : -35%;
    margin-left: 55%;
    width: 600px;
    height: 600px;
    text-align: center;
}

nav a{
    text-decoration:none;
    color:inherit;
    font-size: x-large;
    font-family: 'SAO';
    font-weight: normal;
    
} 

nav li{
    display:inline-block;
    width:15%;
    color:black;
    text-align: center;
}
    
nav li:hover{
    background-color:#fff;
    color:#000;
    
}


body{
    background-color: white, 0.1;
}

footer{
    height:50px;
    line-height:50px;
    background: rgb(70, 201, 127);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
}

/*RESPONSIVE*/
@media (max-width: 767px) {
    .HeaderPaginaPrincipal{
      float: none;
      display: block;
    }
}

@media (max-width: 500px) {
    p  {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: small;
    }
    
    h1 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: larger;
    }
    
    h3 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: small;
    }
    
    li {
        font-size: medium;
    }
    
    .flex-container {
        display: flex;
        flex-direction: row;
        margin: 10px;
        padding: 20px;
        font-size: 18px;
        
    }
    
    .flex-container2 {
        display: flex;
        flex-direction: row;
        margin: 10px;
        margin-bottom: -950%;
        padding: 20px;
        font-size: 30px;
        
    }
    
    .Requadre1 {
        background-color: rgb(70, 201, 127);
        padding: 10px;
        margin-right: -270%;
        margin-left: -15px;
        margin-bottom: -30px;
        width: 380px;
        height: 400px;
        text-align: left;
    }
    
    .Requadre2 {
        padding: 20px;
        margin-right: 15%;
        margin-top : 115%;
        margin-left: 158%;
        width: 600px;
        height: 600px;
        text-align: center;
    }

    .ImatgePrincipal {
        image-resolution: 230px;
        height: 240px;
        border: 3%;
        border-color: rgb(70, 201, 127);;
    }
    
    nav a{
        text-decoration:none;
        color:inherit;
        font-size: x-large;
        font-family: 'SAO';
        font-weight: normal;
        
    } 
    
    nav li{
        display:inline-block;
        width:15%;
        color:black;
        text-align: center;
    }
        
    nav li:hover{
        background-color:#fff;
        color:#000;
        
    }
    
    
    body{
        background-color: white, 0.1;
    }
    
    footer{
        height:50px;
        line-height:50px;
        background: rgb(70, 201, 127);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align:center;
        position:fixed;
        bottom:0;
        left:0;
        width:100%;
    }

}